<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-keep-alive-mode" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaKeepAliveMode</name>
    <js-module name="CordovaKeepAliveMode" src="www/CordovaKeepAliveMode.js">
        <clobbers target="cordova.plugins.CordovaKeepAliveMode"/>
        <clobbers target="CordovaKeepAliveMode"/>
    </js-module>
    <platform name="android">
        <framework src="com.alibaba:fastjson:1.2.10"/>
        <framework src="com.android.support:appcompat-v7:26.+"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaKeepAliveMode">
                <param name="android-package" value="com.dreamboyfire.cordova.plugin.keep_alive_mode.CordovaKeepAliveMode"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service android:name="com.dreamboyfire.cordova.plugin.keep_alive_mode.BackgroundTaskService" />
            <receiver android:name="com.dreamboyfire.cordova.plugin.keep_alive_mode.AlarmReceiver" />
        </config-file>

        <source-file src="src/android/java/com/dreamboyfire/cordova/plugin/keep_alive_mode/CordovaKeepAliveMode.java"
                     target-dir="src/com/dreamboyfire/cordova/plugin/keep_alive_mode"/>
        <source-file src="src/android/java/com/dreamboyfire/cordova/plugin/keep_alive_mode/AlarmReceiver.java"
                     target-dir="src/com/dreamboyfire/cordova/plugin/keep_alive_mode"/>
        <source-file src="src/android/java/com/dreamboyfire/cordova/plugin/keep_alive_mode/BackgroundTaskService.java"
                     target-dir="src/com/dreamboyfire/cordova/plugin/keep_alive_mode"/>
    </platform>
</plugin>