<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-keep-alive-mode" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaKeepAliveMode</name>
    <js-module name="CordovaKeepAliveMode" src="www/CordovaKeepAliveMode.js">
        <clobbers target="cordova.plugins.CordovaKeepAliveMode" />
    </js-module>
</plugin>
